<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kiwi.domain.OrdersMapper">
    <resultMap id="resultOrder" type="org.kiwi.domain.Order">
        <id property="id" column="orderId"/>
        <association property="product" javaType="org.kiwi.domain.Product">
            <id property="id" column="productId"/>
            <result property="name" column="productName"/>
            <result property="description" column="productDescription"/>
            <result property="price" column="productPrice"/>
        </association>
    </resultMap>

    <insert id="createOrder" parameterType="map" keyProperty="order.id" useGeneratedKeys="true">
        insert into Orders (user_id, product_id) values (#{user.id}, #{order.product.id})
    </insert>

    <select id="getOrder" parameterType="map" resultMap="resultOrder">
        select orders.id as orderId, products.id as productId, products.name as productName, products.description as productDescription, products.price as productPrice
        from orders left join products on orders.product_id = products.id
        where orders.id = #{orderId}
    </select>

</mapper>